In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

suser_ds1_full = pd.read_csv("/Users/ruchitha/Desktop/ML_Project/cresci-2017.csv/datasets_full.csv/all_users/spam_users_1.csv");
suser_ds1= suser_ds1_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count", "lang", "default_profile", "protected", "verified", "description", "contributors_enabled"]].copy()

suser_ds2_full = pd.read_csv("/Users/ruchitha/Desktop/ML_Project/cresci-2017.csv/datasets_full.csv/all_users/spam_users_2.csv");
suser_ds2 = suser_ds2_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count", "lang", "default_profile", "protected", "verified", "description", "contributors_enabled"]].copy()

suser_ds3_full = pd.read_csv("/Users/ruchitha/Desktop/ML_Project/cresci-2017.csv/datasets_full.csv/all_users/spam_users_3.csv");
suser_ds3 = suser_ds3_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count", "lang", "default_profile", "protected", "verified", "description", "contributors_enabled"]].copy()

guser_ds1_full = pd.read_csv("/Users/ruchitha/Desktop/ML_Project/cresci-2017.csv/datasets_full.csv/all_users/genuine_users.csv");
guser_ds1 = guser_ds1_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count", "lang", "default_profile", "protected", "verified", "description", "contributors_enabled"]].copy()

tuser_ds1_full = pd.read_csv("/Users/ruchitha/Desktop/ML_Project/cresci-2017.csv/datasets_full.csv/all_users/traditional_users_1.csv");
tuser_ds1 = tuser_ds1_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count", "lang", "default_profile", "protected", "verified", "description", "contributors_enabled"]].copy()


stweet_ds1_full = pd.read_csv("/Users/ruchitha/Desktop/ML_Project/cresci-2017.csv/datasets_full.csv/all_tweets/spam_tweets_1.csv");
# stweet_ds1 = stweet_ds1_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count", "lang", "default_profile", "protected", "verified", "description", "contributors_enabled"]].copy()

stweet_ds2_full = pd.read_csv("/Users/ruchitha/Desktop/ML_Project/cresci-2017.csv/datasets_full.csv/all_tweets/spam_tweets_2.csv");
# stweet_ds2 = stweet_ds2_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count", "lang", "default_profile", "protected", "verified", "description", "contributors_enabled"]].copy()

stweet_ds2_full = pd.read_csv("/Users/ruchitha/Desktop/ML_Project/cresci-2017.csv/datasets_full.csv/all_tweets/spam_tweets_3.csv");
# stweet_ds2 = stweet_ds2_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count", "lang", "default_profile", "protected", "verified", "description", "contributors_enabled"]].copy()

gtweet_ds1_full = pd.read_csv("/Users/ruchitha/Desktop/ML_Project/cresci-2017.csv/datasets_full.csv/all_tweets/genuine_tweets.csv");
# gtweet_ds1 = gtweet_ds1_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count", "lang", "default_profile", "protected", "verified", "description", "contributors_enabled"]].copy()

ttweet_ds1_full = pd.read_csv("/Users/ruchitha/Desktop/ML_Project/cresci-2017.csv/datasets_full.csv/all_tweets/traditional_tweets_1.csv");
# ttweet_ds1 = ttweet_ds1_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count", "lang", "default_profile", "protected", "verified", "description", "contributors_enabled"]].copy()

In [2]:
suser_ds2 = suser_ds1_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count"]]
guser_ds2 = guser_ds1_full[["id", "name", "screen_name", "statuses_count", "followers_count", "friends_count"]]
stweet_ds2 = stweet_ds1_full[['id']]

In [3]:
stweet_ds1_full['user_id']

0            24858289
1            24858289
2            24858289
3            24858289
4            24858289
5            24858289
6            24858289
7            24858289
8            24858289
9            24858289
10           24858289
11           24858289
12           24858289
13           24858289
14           24858289
15           24858289
16           24858289
17           24858289
18           24858289
19           24858289
20           24858289
21           24858289
22           24858289
23           24858289
24           24858289
25           24858289
26           24858289
27           24858289
28           24858289
29           24858289
              ...
1610004    2525273432
1610005    2525273432
1610006    2525273432
1610007    2525273432
1610008    2525273432
1610009    2525273432
1610010    2525273432
1610011    2525273432
1610012    2525273432
1610013    2525273432
1610014    2525273432
1610015    2525273432
1610016    2525273432
1610017    2525273432
1610018    2525273432
1610019    2525273432
1610020    2525273432
1610021    2525273432
1610022    2525273432
1610023    2525273432
1610024    2525273432
1610025    2525273432
1610026    2525273432
1610027    2525273432
1610028    2525273432
1610029    2525273432
1610030    2525273432
1610031    2525273432
1610032    2525273432
1610033    2525273432
Name: user_id, Length: 1610034, dtype: int64

0            24858289
1            24858289
2            24858289
3            24858289
4            24858289
5            24858289
6            24858289
7            24858289
8            24858289
9            24858289
10           24858289
11           24858289
12           24858289
13           24858289
14           24858289
15           24858289
16           24858289
17           24858289
18           24858289
19           24858289
20           24858289
21           24858289
22           24858289
23           24858289
24           24858289
25           24858289
26           24858289
27           24858289
28           24858289
29           24858289
              ...
1610004    2525273432
1610005    2525273432
1610006    2525273432
1610007    2525273432
1610008    2525273432
1610009    2525273432
1610010    2525273432
1610011    2525273432
1610012    2525273432
1610013    2525273432
1610014    2525273432
1610015    2525273432
1610016    2525273432
1610017    2525273432
1610018    2525273432
1610019    2525273432
1610020    2525273432
1610021    2525273432
1610022    2525273432
1610023    2525273432
1610024    2525273432
1610025    2525273432
1610026    2525273432
1610027    2525273432
1610028    2525273432
1610029    2525273432
1610030    2525273432
1610031    2525273432
1610032    2525273432
1610033    2525273432
Name: user_id, Length: 1610034, dtype: int64

In [4]:
print(stweet_ds1_full['user_id'].size)
print(stweet_ds1_full['user_id'].unique().size)
print(type(stweet_ds1_full))
print(stweet_ds1_full[stweet_ds1_full['user_id'] == 24858289].index.size)

1610034
991
<class 'pandas.core.frame.DataFrame'>
2518
1610034
991
<class 'pandas.core.frame.DataFrame'>
2518

In [44]:
suser_ds2.isnull().any()

id                 False
name               False
screen_name        False
statuses_count     False
followers_count    False
friends_count      False
dtype: bool

id                 False
name               False
screen_name        False
statuses_count     False
followers_count    False
friends_count      False
dtype: bool

In [48]:
len(suser_ds2['id'].unique())

991

991

In [50]:
len(suser_ds2['id'])

991

991

In [52]:
guser_ds3 = guser_ds2[~guser_ds2.isnull().any(axis=1)]

In [49]:
len(guser_ds2['id'].unique())

3474

3474

In [51]:
len(guser_ds2['id'])

3474

3474

In [53]:
len(guser_ds3['id'].unique())

3473

3473

In [54]:
len(guser_ds3['id'])

3473

3473

In [55]:
uid = suser_ds2['id'].unique()
tweets = stweet_ds1_full['text']
def is_nan(x):
    return (x is np.nan or x != x)
# to get all tweets made by a particular user
tweets_scam = []
for i in uid:
    twt_indx= stweet_ds1_full[stweet_ds1_full['user_id'] == i].index
    tweet_str = ""
    for j in twt_indx:
        if(not is_nan(tweets[j])):
            tweet_str = tweet_str + " " + tweets[j]
    if(not is_nan(tweet_str)):
       
        x = tweet_str.split(' ')
        str = ""
        #removing urls and user references from tweets
        for i in x:
            url1 = "https:"
            url2 = "http:"
            mentions= "@"
            if (url1 in i) or (url2 in i) or (mentions in i) or (len(i) == i.isdigit()):
                continue
            else:
                valids = ""
                # to retain just letter in the string     
                for character in i:
                    if character.isalpha():
                        valids += character
                str= str+ " " + valids
        
        tweets_scam.append(str)

In [56]:
len(tweets_scam)

991

991

In [57]:
uid.shape

(991,)

(991,)

In [58]:
ref_twts = tweets_scam
ref_twts = pd.DataFrame(ref_twts)
empty_tweet_indices = ref_twts[ref_twts[0] == ''].index
ref_twts = pd.DataFrame(ref_twts)
desired_indices = [i for i in range(0,ref_twts.shape[0]) if i not in empty_tweet_indices]
desired_ref_twts = ref_twts.iloc[desired_indices]

# convert dataframe to np array
desired_ref_twts = desired_ref_twts.values

# convert np array to one deminsional array 
desired_ref_twts = desired_ref_twts.ravel()

In [60]:
guid = guser_ds3['id'].unique()
gtweets = gtweet_ds1_full['text']
def is_nan(x):
    return (x is np.nan or x != x)
# to get all tweets made by a particular user
gtweets_scam = []
for i in guid:
    twt_indx= gtweet_ds1_full[gtweet_ds1_full['user_id'] == i].index
    tweet_str = ""
    for j in twt_indx:
        if(not is_nan(gtweets[j])):
            tweet_str = tweet_str + " " + gtweets[j]
    if(not is_nan(tweet_str)):
       
        x = tweet_str.split(' ')
        str = ""
        #removing urls and user references from tweets
        for i in x:
            url1 = "https:"
            url2 = "http:"
            mentions= "@"
            if (url1 in i) or (url2 in i) or (mentions in i) or (len(i) == i.isdigit()):
                continue
            else:
                valids = ""
                # to retain just letter in the string     
                for character in i:
                    if character.isalpha():
                        valids += character
                str= str+ " " + valids
        
        gtweets_scam.append(str)

In [61]:
gref_twts = gtweets_scam
gref_twts = pd.DataFrame(gref_twts)
gempty_tweet_indices = gref_twts[gref_twts[0] == ''].index
gref_twts = pd.DataFrame(gref_twts)
gdesired_indices = [i for i in range(0,gref_twts.shape[0]) if i not in empty_tweet_indices]
gdesired_ref_twts = gref_twts.iloc[gdesired_indices]

# convert dataframe to np array
gdesired_ref_twts = gdesired_ref_twts.values

# convert np array to one deminsional array 
gdesired_ref_twts = gdesired_ref_twts.ravel()

In [62]:
len(gdesired_ref_twts)

3473

3473

In [63]:
type(gdesired_ref_twts)

numpy.ndarray

numpy.ndarray

In [64]:
# Text preprocessing, tokenizing and filtering of stopwords are all included 
# in CountVectorizer, which builds a dictionary of features and transforms 
# documents to feature vectors
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(gdesired_ref_twts)
from sklearn.feature_extraction.text import TfidfTransformer
tf_transformer = TfidfTransformer(use_idf=False).fit(X)
X_tfidf_train_tf = tf_transformer.transform(X)
X_tfidf_train_tf.shape

(3473, 811659)

(3473, 811659)

In [65]:
# PCA from Scikit-Learn
from sklearn.decomposition import TruncatedSVD
# StandardScaler from Scikit-Learn
from sklearn.preprocessing import StandardScaler

svd1 = TruncatedSVD(n_components=100, n_iter=7, random_state=42)
svdTFit1 = svd1.fit_transform(X_tfidf_train_tf)

In [66]:
type(svdTFit1)

numpy.ndarray

numpy.ndarray

In [67]:
svdTFit1.shape

(3473, 100)

(3473, 100)

In [73]:
gen_dataset = pd.DataFrame(svdTFit1)
gen_dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,3.547011e-26,1.383645e-18,-5.693324e-18,-6.672618e-17,2.202289e-17,8.454050e-17,4.979115e-17,-1.519059e-16,2.858984e-17,4.442244e-17,...,3.878022e-19,-8.963202e-18,-7.366631e-18,2.714362e-19,-7.011713e-18,-4.921603e-18,-6.018143e-18,-7.302083e-18,-2.534748e-18,1.621113e-17
1,4.273862e-27,1.074775e-19,1.010599e-17,-3.872373e-16,2.468705e-16,1.456663e-17,-2.296774e-17,-1.274017e-17,8.837515e-17,1.139260e-17,...,-2.959765e-18,-1.214020e-17,-6.648187e-18,2.447840e-18,-2.400307e-18,-7.351323e-18,2.127942e-17,-1.396093e-17,1.291565e-18,-4.401741e-18
2,-1.428244e-27,4.469794e-20,-2.591120e-17,1.285898e-16,2.448409e-16,6.328536e-17,2.783512e-17,-3.484319e-17,-1.726621e-17,-7.301410e-17,...,6.245257e-19,-1.547884e-17,-1.532789e-18,9.079085e-18,-2.350717e-18,6.133768e-18,-2.138366e-17,-1.174974e-17,-3.839011e-19,1.058392e-17
3,9.433081e-01,1.075725e-01,8.517355e-02,-2.262708e-02,-7.366126e-02,-1.012271e-01,3.914787e-02,1.234797e-01,1.186294e-01,1.430901e-02,...,-6.677351e-03,-1.050412e-02,-6.714658e-03,-6.300223e-03,5.809435e-03,-2.629297e-05,9.448670e-03,-8.807802e-03,1.539933e-02,1.807841e-03
4,-3.246984e-31,3.673866e-25,-1.805258e-22,7.745930e-21,3.739076e-21,-1.275398e-16,5.123611e-17,-8.504113e-18,-3.669496e-17,-7.704836e-17,...,-7.075615e-18,-7.378314e-18,-7.811059e-18,1.896269e-17,3.954608e-18,2.101710e-17,-1.452676e-17,2.922372e-17,-2.686732e-17,6.420848e-18

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,3.547011e-26,1.383645e-18,-5.693324e-18,-6.672618e-17,2.202289e-17,8.454050e-17,4.979115e-17,-1.519059e-16,2.858984e-17,4.442244e-17,...,3.878022e-19,-8.963202e-18,-7.366631e-18,2.714362e-19,-7.011713e-18,-4.921603e-18,-6.018143e-18,-7.302083e-18,-2.534748e-18,1.621113e-17
1,4.273862e-27,1.074775e-19,1.010599e-17,-3.872373e-16,2.468705e-16,1.456663e-17,-2.296774e-17,-1.274017e-17,8.837515e-17,1.139260e-17,...,-2.959765e-18,-1.214020e-17,-6.648187e-18,2.447840e-18,-2.400307e-18,-7.351323e-18,2.127942e-17,-1.396093e-17,1.291565e-18,-4.401741e-18
2,-1.428244e-27,4.469794e-20,-2.591120e-17,1.285898e-16,2.448409e-16,6.328536e-17,2.783512e-17,-3.484319e-17,-1.726621e-17,-7.301410e-17,...,6.245257e-19,-1.547884e-17,-1.532789e-18,9.079085e-18,-2.350717e-18,6.133768e-18,-2.138366e-17,-1.174974e-17,-3.839011e-19,1.058392e-17
3,9.433081e-01,1.075725e-01,8.517355e-02,-2.262708e-02,-7.366126e-02,-1.012271e-01,3.914787e-02,1.234797e-01,1.186294e-01,1.430901e-02,...,-6.677351e-03,-1.050412e-02,-6.714658e-03,-6.300223e-03,5.809435e-03,-2.629297e-05,9.448670e-03,-8.807802e-03,1.539933e-02,1.807841e-03
4,-3.246984e-31,3.673866e-25,-1.805258e-22,7.745930e-21,3.739076e-21,-1.275398e-16,5.123611e-17,-8.504113e-18,-3.669496e-17,-7.704836e-17,...,-7.075615e-18,-7.378314e-18,-7.811059e-18,1.896269e-17,3.954608e-18,2.101710e-17,-1.452676e-17,2.922372e-17,-2.686732e-17,6.420848e-18

In [80]:
guser_ds3.shape

(3473, 6)

(3473, 6)

In [86]:
gen_dataset['target'] = 0
gfinal_ds = pd.concat([gen_dataset, guser_ds3], axis =1)
gfinal_ds.head()

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,target,id,name,screen_name,statuses_count,followers_count,friends_count
0,3.547011e-26,1.383645e-18,-5.693324e-18,-6.672618e-17,2.202289e-17,8.454050e-17,4.979115e-17,-1.519059e-16,2.858984e-17,4.442244e-17,...,-7.302083e-18,-2.534748e-18,1.621113e-17,0.0,1.502026e+09,TASUKU HAYAKAWA,0918Bask,2177.0,208.0,332.0
1,4.273862e-27,1.074775e-19,1.010599e-17,-3.872373e-16,2.468705e-16,1.456663e-17,-2.296774e-17,-1.274017e-17,8.837515e-17,1.139260e-17,...,-1.396093e-17,1.291565e-18,-4.401741e-18,0.0,2.492782e+09,ro_or,1120Roll,2660.0,330.0,485.0
2,-1.428244e-27,4.469794e-20,-2.591120e-17,1.285898e-16,2.448409e-16,6.328536e-17,2.783512e-17,-3.484319e-17,-1.726621e-17,-7.301410e-17,...,-1.174974e-17,-3.839011e-19,1.058392e-17,0.0,2.932123e+08,bearclaw,14KBBrown,1254.0,166.0,177.0
3,9.433081e-01,1.075725e-01,8.517355e-02,-2.262708e-02,-7.366126e-02,-1.012271e-01,3.914787e-02,1.234797e-01,1.186294e-01,1.430901e-02,...,-8.807802e-03,1.539933e-02,1.807841e-03,0.0,1.918397e+08,pocahontas farida,wadespeters,202968.0,2248.0,981.0
4,-3.246984e-31,3.673866e-25,-1.805258e-22,7.745930e-21,3.739076e-21,-1.275398e-16,5.123611e-17,-8.504113e-18,-3.669496e-17,-7.704836e-17,...,2.922372e-17,-2.686732e-17,6.420848e-18,0.0,3.020965e+09,Ms Kathy,191a5bd05da04dc,82.0,21.0,79.0

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,target,id,name,screen_name,statuses_count,followers_count,friends_count
0,3.547011e-26,1.383645e-18,-5.693324e-18,-6.672618e-17,2.202289e-17,8.454050e-17,4.979115e-17,-1.519059e-16,2.858984e-17,4.442244e-17,...,-7.302083e-18,-2.534748e-18,1.621113e-17,0.0,1.502026e+09,TASUKU HAYAKAWA,0918Bask,2177.0,208.0,332.0
1,4.273862e-27,1.074775e-19,1.010599e-17,-3.872373e-16,2.468705e-16,1.456663e-17,-2.296774e-17,-1.274017e-17,8.837515e-17,1.139260e-17,...,-1.396093e-17,1.291565e-18,-4.401741e-18,0.0,2.492782e+09,ro_or,1120Roll,2660.0,330.0,485.0
2,-1.428244e-27,4.469794e-20,-2.591120e-17,1.285898e-16,2.448409e-16,6.328536e-17,2.783512e-17,-3.484319e-17,-1.726621e-17,-7.301410e-17,...,-1.174974e-17,-3.839011e-19,1.058392e-17,0.0,2.932123e+08,bearclaw,14KBBrown,1254.0,166.0,177.0
3,9.433081e-01,1.075725e-01,8.517355e-02,-2.262708e-02,-7.366126e-02,-1.012271e-01,3.914787e-02,1.234797e-01,1.186294e-01,1.430901e-02,...,-8.807802e-03,1.539933e-02,1.807841e-03,0.0,1.918397e+08,pocahontas farida,wadespeters,202968.0,2248.0,981.0
4,-3.246984e-31,3.673866e-25,-1.805258e-22,7.745930e-21,3.739076e-21,-1.275398e-16,5.123611e-17,-8.504113e-18,-3.669496e-17,-7.704836e-17,...,2.922372e-17,-2.686732e-17,6.420848e-18,0.0,3.020965e+09,Ms Kathy,191a5bd05da04dc,82.0,21.0,79.0

In [87]:
gfinal_ds.shape

(3474, 107)

(3474, 107)

In [88]:
# Text preprocessing, tokenizing and filtering of stopwords are all included 
# in CountVectorizer, which builds a dictionary of features and transforms 
# documents to feature vectors
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
s_vectorizer = CountVectorizer()
s_X = s_vectorizer.fit_transform(desired_ref_twts)
from sklearn.feature_extraction.text import TfidfTransformer
stf_transformer = TfidfTransformer(use_idf=False).fit(s_X)
sX_tfidf_train_tf = stf_transformer.transform(s_X)
sX_tfidf_train_tf.shape

(991, 115218)

(991, 115218)

In [89]:
# TruncatedSVD from Scikit-Learn
from sklearn.decomposition import TruncatedSVD
# StandardScaler from Scikit-Learn
from sklearn.preprocessing import StandardScaler

svd = TruncatedSVD(n_components=100, n_iter=7, random_state=42)
svdTFit = svd.fit_transform(sX_tfidf_train_tf) 
# svd_data = pd.DataFrame(svd_data)
# # print first 5 rows of PCA generated data
# svd_data.head()

In [90]:
type(svdTFit)

numpy.ndarray

numpy.ndarray

In [91]:
svdTFit.shape

(991, 100)

(991, 100)

In [92]:
s_dataset = pd.DataFrame(svdTFit)
s_dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.438174,0.158639,0.005129,0.795964,-0.005104,-0.124343,-0.125915,-0.164613,-0.049627,-0.021399,...,0.001264,0.004161,0.004024,-0.006909,0.001710,-0.004405,0.002166,-0.000680,0.000507,0.002424
1,0.903336,0.261761,-0.221228,-0.007931,0.033282,0.102413,0.003034,-0.036920,-0.016280,-0.003156,...,0.007395,-0.020579,0.000963,-0.019455,-0.010951,0.000006,-0.003549,0.002660,0.005362,0.008795
2,0.594205,0.549174,0.264838,0.033514,-0.286517,0.102253,-0.013258,0.106670,-0.012920,-0.050541,...,0.001986,-0.001844,-0.001686,0.002527,0.000229,0.001965,0.000464,0.002886,0.002292,0.000337
3,0.239593,0.600786,0.098945,-0.134100,0.141822,-0.110465,-0.120468,-0.283624,0.432600,0.453714,...,-0.001782,0.002860,0.000096,-0.000175,-0.001099,0.002800,-0.000431,0.001433,0.000332,-0.001763
4,0.956266,0.138278,0.053210,0.041920,0.098723,0.074996,0.009099,-0.028643,0.041130,-0.042160,...,-0.002001,-0.020370,0.002686,0.003786,0.001659,-0.010986,0.002420,-0.011163,-0.011047,0.009133

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.438174,0.158639,0.005129,0.795964,-0.005104,-0.124343,-0.125915,-0.164613,-0.049627,-0.021399,...,0.001264,0.004161,0.004024,-0.006909,0.001710,-0.004405,0.002166,-0.000680,0.000507,0.002424
1,0.903336,0.261761,-0.221228,-0.007931,0.033282,0.102413,0.003034,-0.036920,-0.016280,-0.003156,...,0.007395,-0.020579,0.000963,-0.019455,-0.010951,0.000006,-0.003549,0.002660,0.005362,0.008795
2,0.594205,0.549174,0.264838,0.033514,-0.286517,0.102253,-0.013258,0.106670,-0.012920,-0.050541,...,0.001986,-0.001844,-0.001686,0.002527,0.000229,0.001965,0.000464,0.002886,0.002292,0.000337
3,0.239593,0.600786,0.098945,-0.134100,0.141822,-0.110465,-0.120468,-0.283624,0.432600,0.453714,...,-0.001782,0.002860,0.000096,-0.000175,-0.001099,0.002800,-0.000431,0.001433,0.000332,-0.001763
4,0.956266,0.138278,0.053210,0.041920,0.098723,0.074996,0.009099,-0.028643,0.041130,-0.042160,...,-0.002001,-0.020370,0.002686,0.003786,0.001659,-0.010986,0.002420,-0.011163,-0.011047,0.009133

In [94]:
suser_ds2.shape

(991, 6)

(991, 6)

In [95]:
s_dataset.shape

(991, 100)

(991, 100)

In [96]:
s_dataset['target'] = 1
# gen_dataset['user_id'] = new_guid
#gtweet_ds1_full1 = np.delete(gtweet_ds1_full, (1083), axis =0)

In [98]:
sfinal_ds = pd.concat([s_dataset, suser_ds2], axis = 1)

In [99]:
dataset= pd.concat([sfinal_ds, gfinal_ds], ignore_index=True)
y_ds = dataset['target']
dataset = dataset.drop(columns=['target'])
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,id,name,screen_name,statuses_count,followers_count,friends_count
0,0.438174,0.158639,0.005129,0.795964,-0.005104,-0.124343,-0.125915,-0.164613,-0.049627,-0.021399,...,0.002166,-0.000680,0.000507,0.002424,24858289.0,Davide Bertoli,davideb66,1299.0,22.0,40.0
1,0.903336,0.261761,-0.221228,-0.007931,0.033282,0.102413,0.003034,-0.036920,-0.016280,-0.003156,...,-0.003549,0.002660,0.005362,0.008795,33212890.0,Elisa D'Ospina,ElisaDospina,18665.0,12561.0,3442.0
2,0.594205,0.549174,0.264838,0.033514,-0.286517,0.102253,-0.013258,0.106670,-0.012920,-0.050541,...,0.000464,0.002886,0.002292,0.000337,39773427.0,Donato Vincenzo,Vladimir65,22987.0,600.0,755.0
3,0.239593,0.600786,0.098945,-0.134100,0.141822,-0.110465,-0.120468,-0.283624,0.432600,0.453714,...,-0.000431,0.001433,0.000332,-0.001763,57007623.0,Rafiela Morales L.,RafielaMorales,7975.0,398.0,350.0
4,0.956266,0.138278,0.053210,0.041920,0.098723,0.074996,0.009099,-0.028643,0.041130,-0.042160,...,0.002420,-0.011163,-0.011047,0.009133,63258466.0,§ h a † u r♄,FabrizioC_c,20218.0,413.0,405.0

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,id,name,screen_name,statuses_count,followers_count,friends_count
0,0.438174,0.158639,0.005129,0.795964,-0.005104,-0.124343,-0.125915,-0.164613,-0.049627,-0.021399,...,0.002166,-0.000680,0.000507,0.002424,24858289.0,Davide Bertoli,davideb66,1299.0,22.0,40.0
1,0.903336,0.261761,-0.221228,-0.007931,0.033282,0.102413,0.003034,-0.036920,-0.016280,-0.003156,...,-0.003549,0.002660,0.005362,0.008795,33212890.0,Elisa D'Ospina,ElisaDospina,18665.0,12561.0,3442.0
2,0.594205,0.549174,0.264838,0.033514,-0.286517,0.102253,-0.013258,0.106670,-0.012920,-0.050541,...,0.000464,0.002886,0.002292,0.000337,39773427.0,Donato Vincenzo,Vladimir65,22987.0,600.0,755.0
3,0.239593,0.600786,0.098945,-0.134100,0.141822,-0.110465,-0.120468,-0.283624,0.432600,0.453714,...,-0.000431,0.001433,0.000332,-0.001763,57007623.0,Rafiela Morales L.,RafielaMorales,7975.0,398.0,350.0
4,0.956266,0.138278,0.053210,0.041920,0.098723,0.074996,0.009099,-0.028643,0.041130,-0.042160,...,0.002420,-0.011163,-0.011047,0.009133,63258466.0,§ h a † u r♄,FabrizioC_c,20218.0,413.0,405.0

In [100]:
y_ds.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: target, dtype: float64

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: target, dtype: float64

In [104]:
dataset.dtypes

0                  float64
1                  float64
2                  float64
3                  float64
4                  float64
5                  float64
6                  float64
7                  float64
8                  float64
9                  float64
10                 float64
11                 float64
12                 float64
13                 float64
14                 float64
15                 float64
16                 float64
17                 float64
18                 float64
19                 float64
20                 float64
21                 float64
22                 float64
23                 float64
24                 float64
25                 float64
26                 float64
27                 float64
28                 float64
29                 float64
                    ...
77                 float64
78                 float64
79                 float64
80                 float64
81                 float64
82                 float64
83                 float64
84                 float64
85                 float64
86                 float64
87                 float64
88                 float64
89                 float64
90                 float64
91                 float64
92                 float64
93                 float64
94                 float64
95                 float64
96                 float64
97                 float64
98                 float64
99                 float64
id                 float64
name                object
screen_name         object
statuses_count     float64
followers_count    float64
friends_count      float64
target             float64
Length: 107, dtype: object

0                  float64
1                  float64
2                  float64
3                  float64
4                  float64
5                  float64
6                  float64
7                  float64
8                  float64
9                  float64
10                 float64
11                 float64
12                 float64
13                 float64
14                 float64
15                 float64
16                 float64
17                 float64
18                 float64
19                 float64
20                 float64
21                 float64
22                 float64
23                 float64
24                 float64
25                 float64
26                 float64
27                 float64
28                 float64
29                 float64
                    ...
77                 float64
78                 float64
79                 float64
80                 float64
81                 float64
82                 float64
83                 float64
84                 float64
85                 float64
86                 float64
87                 float64
88                 float64
89                 float64
90                 float64
91                 float64
92                 float64
93                 float64
94                 float64
95                 float64
96                 float64
97                 float64
98                 float64
99                 float64
id                 float64
name                object
screen_name         object
statuses_count     float64
followers_count    float64
friends_count      float64
target             float64
Length: 107, dtype: object

In [107]:
dataset= dataset.drop(columns=['name','screen_name'])
dataset.dtypes

0                  float64
1                  float64
2                  float64
3                  float64
4                  float64
5                  float64
6                  float64
7                  float64
8                  float64
9                  float64
10                 float64
11                 float64
12                 float64
13                 float64
14                 float64
15                 float64
16                 float64
17                 float64
18                 float64
19                 float64
20                 float64
21                 float64
22                 float64
23                 float64
24                 float64
25                 float64
26                 float64
27                 float64
28                 float64
29                 float64
                    ...
75                 float64
76                 float64
77                 float64
78                 float64
79                 float64
80                 float64
81                 float64
82                 float64
83                 float64
84                 float64
85                 float64
86                 float64
87                 float64
88                 float64
89                 float64
90                 float64
91                 float64
92                 float64
93                 float64
94                 float64
95                 float64
96                 float64
97                 float64
98                 float64
99                 float64
id                 float64
statuses_count     float64
followers_count    float64
friends_count      float64
target             float64
Length: 105, dtype: object

0                  float64
1                  float64
2                  float64
3                  float64
4                  float64
5                  float64
6                  float64
7                  float64
8                  float64
9                  float64
10                 float64
11                 float64
12                 float64
13                 float64
14                 float64
15                 float64
16                 float64
17                 float64
18                 float64
19                 float64
20                 float64
21                 float64
22                 float64
23                 float64
24                 float64
25                 float64
26                 float64
27                 float64
28                 float64
29                 float64
                    ...
75                 float64
76                 float64
77                 float64
78                 float64
79                 float64
80                 float64
81                 float64
82                 float64
83                 float64
84                 float64
85                 float64
86                 float64
87                 float64
88                 float64
89                 float64
90                 float64
91                 float64
92                 float64
93                 float64
94                 float64
95                 float64
96                 float64
97                 float64
98                 float64
99                 float64
id                 float64
statuses_count     float64
followers_count    float64
friends_count      float64
target             float64
Length: 105, dtype: object

In [108]:
dataset['target'] = y_ds
# cleaning data to remove nan
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

clean_ds = clean_dataset(dataset)

In [109]:
y_ds = dataset['target']
clean_ds = clean_ds.drop(columns=['target'])

In [110]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, recall_score, confusion_matrix, classification_report,accuracy_score, f1_score

x_train, x_test, y_train, y_test = train_test_split(dataset, y_ds, test_size=0.33)
logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)
predictions = logisticRegr.predict(x_test)
score = logisticRegr.score(x_test, y_test)
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print('Recall:', recall_score(y_test, predictions,average="micro")*100,"%")
print('Precision:', precision_score(y_test, predictions,average="micro")*100,"%")

Accuracy: 76.10%
Recall: 76.1031907671419 %
Precision: 76.1031907671419 %
Accuracy: 76.10%
Recall: 76.1031907671419 %
Precision: 76.1031907671419 %

In [111]:
from sklearn import svm
import math
clf = svm.SVC(gamma=0.01)
clf.fit(x_train, y_train) 
predictions = clf.predict(x_test)
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print('Recall:', recall_score(y_test, predictions,average="micro")*100,"%")
print('Precision:', precision_score(y_test, predictions,average="micro")*100,"%")

Accuracy: 76.10%
Recall: 76.1031907671419 %
Precision: 76.1031907671419 %
Accuracy: 76.10%
Recall: 76.1031907671419 %
Precision: 76.1031907671419 %

In [113]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(x_train, y_train) 
predictions = clf.predict(x_test)
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print('Recall:', recall_score(y_test, predictions,average="micro")*100,"%")
print('Precision:', precision_score(y_test, predictions,average="micro")*100,"%")

Accuracy: 76.10%
Recall: 76.1031907671419 %
Precision: 76.1031907671419 %
Accuracy: 76.10%
Recall: 76.1031907671419 %
Precision: 76.1031907671419 %

In [112]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
clf = RandomForestClassifier(n_estimators=100, max_depth=2,random_state=0)
clf.fit(x_train, y_train) 
predictions = clf.predict(x_test)
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print('Recall:', recall_score(y_test, predictions,average="micro")*100,"%")
print('Precision:', precision_score(y_test, predictions,average="micro")*100,"%")

Accuracy: 98.71%
Recall: 98.7101154107264 %
Precision: 98.7101154107264 %
Accuracy: 98.71%
Recall: 98.7101154107264 %
Precision: 98.7101154107264 %